/*
	Theme Name: labicv15
	Theme URI: http://labic.net
	Description: Laboratório de Estudos sobre Imagem e Cibercultura
	Version: 15.08.01
	Author: Labic
	Author URI: http://Labic.net
	Tags: HTML5, CSS3, Responsive, Live, Video, Publications, Datasets

	License: GPLv3
*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding-top: 70px;
}

a {
  color: #4fa4d8;
}

/***************** typography ****************/

h1,
.h1 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 32px;
  color: #1f3543;
}
h2,
.h2 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #1f3543;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 13px;
}
h6,
.h6 {
  font-size: 11px;
}

/***************** navbar ****************/

.navbar {
  border-radius: 0;
  margin-bottom: 100px;
}

.navbar-inverse {
  background-color: #192228;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5ec3bc;
}

.dropdown-menu {
  font-size: 0.9em;
  background-color: #fafafa;
  border-radius: 0px;
}

.dropdown-menu li a {
  color: #1f3543 !important;
}

.navbar-collapse.collapse.in li a {
  color: #fff !important;
}

/*search form*/

input#s {
  background: url(assets/search.png) no-repeat 5px 6px;
  -moz-border-radius: 2px;
  border: none;
  font-size: 12px;
  height: 32px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}
input#searchsubmit {
  display: none;
}

/* Search Form */
/*#searchform {
  text-align: right;
  margin-top: 16px;
margin-right: 6px;
}
#searchform div {
  margin: 0;
}*/
#s {
  float: right;
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
  width: 32px;
}
#s:focus {
  background-color: #f9f9f9;
  width: 160px;
}
#searchsubmit {
  display: none;
}
.only-search #searchform {
  top: 5px;
  z-index: 1;
}
.only-search #s {
  background-color: #666;
  border-color: #000;
  color: #222;
}
.only-search #s,
.only-search #s:focus {
  width: 85%;
}
.only-search #s:focus {
  background-color: #bbb;
}
.with-image #searchform {
  top: auto;
  bottom: -27px;
  max-width: 195px;
}
.only-search + #access div {
  padding-right: 205px;
}

.screen-reader-text {
  display: none;
}


    /* Search icon by IcoMoon, made with http://icomoon.io/app/ */
    @font-face {
    	font-family: 'icomoon';
    	src:url('fonts/icomoon/icomoon.eot');
    	src:url('fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    		url('fonts/icomoon/icomoon.woff') format('woff'),
    		url('fonts/icomoon/icomoon.ttf') format('truetype'),
    		url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
    	font-weight: normal;
    	font-style: normal;
    }

    .sb-search {
    	position: relative;
    	margin-top: 10px;
      margin-right: 0px;
    	/*width: 0%;*/
    	min-width: 36px;
    	height: 36px;
    	float: right;
    	overflow: hidden;
    	-webkit-transition: width 0.3s;
    	-moz-transition: width 0.3s;
    	transition: width 0.3s;
    	-webkit-backface-visibility: hidden;
    }

    .sb-search-input {
    	position: absolute;
    	top: 0;
    	right: 0;
    	border: none;
    	outline: none;
    	background: #fff;
    	width: 80%;
    	height: 36px;
    	margin: 0;
    	z-index: 10;
      padding: 4px 36px 6px 10px;
    	font-family: inherit;
    	font-size: 16px;
    	color: #2c3e50;
    }

.fa-search,
.navbar-inverse .navbar-nav li a {
  color: #5ec3bc;

  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/***************** home elements ****************/

.featured-tiles {
  background-color: #192228;
}

.last-posts {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.last-posts-title {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 0px;
}

.last-posts-title a,
.video-post-title a {
  color: #1f3543;
  text-decoration: none;
}

.last-posts-th {
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
}

.last-posts-body {
  display: table !important;
}

.post-datetime {
  color: #666;
}

.post-divider {
    width: 100%;
    float: left;
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 20px;
}

.post-divider a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    border-bottom: 3px solid;
    position: relative;
    top: -10px;
}

.video-slider {
  padding-top: 40px;
  padding-bottom: 20px;
}

.video-slider-title {
  padding-left: 15px;
}

.video-controls {
  margin-top: 20px;
  margin-right: 15px;
}

.col {
  width: 29.333%;
  margin-right: 4%;
}

.video-post {
  min-height: 255px;
  margin-top: 20px;
  display: block;
}

.video-post-th {
  display: block;
  margin-bottom: 10px;
}

/***************** page ****************/

.page-title {

}

.page-excerpt {
  margin-top: 30px;
  margin-bottom: 40px;
}

.comments-section {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
}

/***************** general components ****************/

.live-ticker {
  background-color: #d40000;
  border-radius: 4px;
  color: #fff;
  padding: 3px 16px;
  font-size: 12px;
  margin-top: 12px;
  margin-right: 30px !important;
  font-weight: 600;
}

/*.live-ticker img {
  margin-top: 12px;
  margin-right: 30px !important;
}*/

.contact-form {
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  font-weight: 400;
}

.form-control {
  height: 31px;
  border-radius: 2px;
}

.btn-contact {
  border-radius: 0px;
  background-color: #192228;
  color: #fff;
  padding: 10px 50px;
}

.social-bar {
  background-color: #f9f9f9;
  border-left: 3px #5EC3BC solid;
  padding: 15px 10px 5px;
  margin-bottom: 20px;
}

.wpcf7-submit {
  float: right;
  border-radius: 0px;
  background-color: #192228;
  color: #FFF;
  padding: 10px 50px;
  border: none;
}

.social-contacts {
  text-align: center !important;
}

.navbar-fixed-publ {
  top: 51px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1020;
}

.publ-title {
  font-family: 'Oswald';
}

.header-publ {
  margin-top: 32px;
}

.scrollspy-publ {
  position: relative;
  overflow-y: scroll;
  height: 480px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.publ-divider {
    width: 100%;
    float: left;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 20px;
}

.publ-divider a {
    text-decoration: none;
    padding: 10px 0px;
    border-bottom: 3px solid;
    position: relative;
    top: -16px;
}


.live-section,
.video-section {
  background-color: #192228;
  margin-top: 20px;
}

.live-label,
.video-label {
  color: #4fa4d8;
}

.live-title,
.video-title {
  margin-top: 28px;
  margin-left: 10px;
}

.video-section-embed {
position: relative;
padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
padding-top: 25px;
height: 0;
}

.video-section-embed iframe {
position: absolute;
top: 0;
left: 0;
width: 100%!important;
height: 100%!important;
}

.team-flat .team-item {
  background: #f9f9f9 none repeat scroll 0px 0px;
  border-bottom: 3px #5EC3BC solid;
}

.sd-social-icon .sd-content ul li[class*="share-"] a.sd-button {
    background: #000 !important;
}

.post-datetime-single {
  color: #666;
  padding-top: 20px;
  padding-bottom: 15px;
}

blockquote {
  border-left: 5px solid #b1e2f7;
  font-style: italic;
}

blockquote::before {
  display: block;
  content: "“";
  font-size: 96px;
  left: -25px;
  top: 20px;
  color: #e6e6e6;
  position: relative;
  line-height: 26px;
  font-family: serif;
}

blockquote cite {
  color: #666;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  float: right;
}

blockquote cite::before {
  content: "\2014 \2009";
}

code::before {
  border-top: 1px solid #e3e3e3;
}

code::after {
  border-bottom: 1px solid #e3e3e3;
}

#sexy-author-bio {
  padding: 10px;
}

#sab-gravatar {
  margin: 10px 0;
}

#sab-social-wrapper {
  margin-top: 10px;
  margin-bottom: 5px;
}

#sab-byline {
  text-decoration: none !important;
}

/***************** footer ****************/

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}


/***************** responsive queries ****************/

@media (max-width: 480px) {

    .col {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .video-post-th {
        width: 100%;
        height: auto;
    }

}

@media  (min-width: 481px) and
        (max-width: 767px) {

    .col {
    width: 43.333% !important;
    margin-right: 2% !important;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

}

@media (max-width: 980px) {

    /* Open state */
    .sb-search.sb-search-open,
    .no-js .sb-search {
      width: 100%;
    }

    .col {
    width: 34.333%;
    margin-right: -1%;
    }

}
